<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.koolcloud.ipos.appstore"
    android:versionCode="23"
    android:versionName="1.2.10" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="14" />
    
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    
    <!-- install permission -->
    <!-- <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.APPINSTALL" />
    <uses-permission android:name="android.permission.APPUNINSTALL" /> -->
    
    <!-- Push service neccesary running permission -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />  
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <application
        android:name="cn.koolcloud.ipos.appstore.AppStoreApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="false"
        android:theme="@style/AppStore.Theme" >
        <activity
			android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" 
            android:configChanges="orientation|keyboardHidden" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
			android:name=".ui.MainFrameActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" 
            android:configChanges="orientation|keyboardHidden" 
            android:windowSoftInputMode="adjustNothing|stateHidden" />
        <activity
			android:name=".ui.CategoryMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" 
            android:configChanges="orientation|keyboardHidden" 
            android:windowSoftInputMode="adjustNothing|stateHidden" />
        <activity
			android:name=".ui.SoftwareDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" 
            android:configChanges="orientation|keyboardHidden" 
            android:windowSoftInputMode="adjustNothing|stateHidden" />
        <activity
			android:name=".ui.WebViewActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape" 
            android:configChanges="orientation|keyboardHidden" 
            android:windowSoftInputMode="adjustNothing|stateHidden" />
        <activity
			android:name=".ui.SearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" 
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden" 
            android:windowSoftInputMode="adjustNothing|stateHidden" />
        <activity
			android:name=".ui.SettingActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" 
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden" 
            android:windowSoftInputMode="adjustNothing|stateHidden" />
        <activity
			android:name=".ui.NotificationPromotionActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" 
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden" 
            android:windowSoftInputMode="adjustNothing|stateHidden" />
        <activity
			android:name=".dialogs.AboutDialog" android:theme="@style/dialog"/>
        <activity
			android:name=".dialogs.NetWorkAlarmDialog" android:theme="@style/activity_dialog"/>
        <activity
			android:name=".dialogs.UpdateClientDialog" android:theme="@style/dialog" />
        <activity
            android:name=".dialogs.SoftwareCommentDialog" android:theme="@style/dialog" />
        <!-- receiver -->
        <receiver  
		    android:name="cn.koolcloud.ipos.appstore.receiver.ConnectionChangeReceiver"
		    android:label="NetworkConnection">
		    <intent-filter>
		        <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
		    </intent-filter>
		</receiver>
		
        <receiver
            android:name="cn.koolcloud.ipos.appstore.receiver.AppBroadcastReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" >
                </action>
                <!-- <action android:name="android.intent.action.PACKAGE_CHANGED"></action> -->
                <action android:name="android.intent.action.PACKAGE_REMOVED" >
                </action>
                <action android:name="android.intent.action.PACKAGE_REPLACED" >
                </action>
                <!-- <action android:name="android.intent.action.PACKAGE_RESTARTED"></action> -->
                <data android:scheme="package" >
                </data>
            </intent-filter>
        </receiver>
        <receiver android:name="cn.koolcloud.ipos.appstore.receiver.BootBroadCastReceiver" >  
            <intent-filter>  
                <action android:name="android.intent.action.BOOT_COMPLETED" >  
                </action>  
  
            </intent-filter>  
        </receiver>
        
        <!-- service -->
        <service android:name="cn.koolcloud.ipos.appstore.service.RegisterService">
            <intent-filter>
				<action android:name="cn.koolcloud.ipos.appstore.service.RegisterService"/>
			</intent-filter>
        </service>
		<service  
            android:name="cn.koolcloud.ipos.appstore.service.MSCService"
            android:process=":remote"
            android:exported="true" >
            <intent-filter>
                <action android:name="cn.koolcloud.ipos.appstore.service.aidl.IMSCService" />
            </intent-filter>
        </service>
		
        <!-- push multiple media, which can be removed if it is not needed. -->
        <activity
            android:name="com.baidu.android.pushservice.richmedia.MediaViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="MediaViewActivity" >
        </activity>
        <activity
            android:name="com.baidu.android.pushservice.richmedia.MediaListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="MediaListActivity"
            android:launchMode="singleTask" >
        </activity>
        <!-- push cn.koolcloud.ipos.appstore.receiver.MyPushMessageReceiver custom message receiver definition -->
        <receiver android:name="cn.koolcloud.ipos.appstore.receiver.MyPushMessageReceiver">
            <intent-filter>
                <!-- receive push message -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- receive bind,unbind,fetch,delete etc. call back message -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>
        
        <!-- push neccesary receiver and service definition -->
        <receiver android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package" />
            </intent-filter>                   
        </receiver>
        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1" />
        <!-- push end -->
        
		<!-- Get API Key of app from BaiDu developer center -->
		<!-- product api key -->
        <meta-data android:name="api_key" android:value="2b5aXMe58VOjefUGonEWvVIF" />
        <!-- test api key -->
        <!-- <meta-data android:name="api_key" android:value="1RGFakZLfe79TM7sbQXYTOmF" /> -->
    </application>
    
</manifest>